body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.bg-dark{
    background-color: #75767B;
}

.text-white{
    color: azure;
}

.my-3{
    margin-top: 30px;
    margin-bottom: 30px;}

.mt-50{
    margin-top: 50px;
}